body
{
}

h1{
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    padding: 15px 30px;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: #3e8e41;
}